@font-face {
    font-family: 'College';
    src: url('College.woff2') format('woff2'),
        url('College.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

